:root {
    --fonte : 'Kanit', sans-serif;
    --bg-color: #293462;
    --primary-color: #F24C4C;
}

body {
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--fonte);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
    margin: 2rem 0 2rem 0;
}

.mensagem {
    font-size: 2rem;
    margin-top: 1.3rem;
}

.box {
    font-size: 5.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: 5px solid var(--primary-color);
    margin: 1.4rem;
    border-radius: 15px;
}